<%= render "partials/navbar/navbar" %>

<% unless authenticated? %>
  <%= render "partials/homepages/homepages_unauthenticated" %>
<% else %>
  <main>
    <section class="flex flex-col gap-4 p-4">
      <%= render "partials/homepages/homepages_authenticated" %>
    </section>
  </main>
<% end %>
