<%= render "partials/navbar/navbar" %>

<main>
  <section class="flex flex-col">
    <% if authenticated? %>
      <%= render "partials/events/events_authenticated" %>
    <% end %>
  </section>
</main>
